.history/
__pycache__/
./__pycache__/child_processes.cpython-310.pyc

.idea

build/*
outputs/*
output/*
models/*
.vscode/*
data/*
**/*.DS_Store
exp/*
**/pretrained_models/*

backbones/*

frame_field_learning/runs/*

**/*.pyc
**/*.so


