.history/
__pycache__/

.idea

build/*
outputs/*
output/*
models/*
.vscode/*
data/*
**/*.DS_Store
exp/*
**/pretrained_models/*

backbones/*

frame_field_learning/runs/*
frame_field_learning/__pycache__

**/*.pyc
**/*.so


